
//框架默认主题色
$base-color-default: #0187fb;
//字体大小配置
$base-font-size-default: 14px;
$base-font-color: #606266;
$base-color-white: #fff;
$base-color-blue: $base-color-default;
$base-color-red: #f34d37;
$base-font-size-small: 12px;

//默认层级
$base-z-index: 999;

//输入框高度
$base-input-height: 32px;